<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container" id="nav-container">
        <button id="toggle-drop" data-overlay="closed" class="navbar-toggler" type="button" data-toggle="collapse" data-target=""
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home/Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About/Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Extra</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">
            <img src="/images/logo_image.png" alt="">Mark Alaniz</a>
    </div>
</nav>
<section class="container main-about">
    <div class="row">
        <div class="col">
            <img class="mypic" src="/images/placeholder1.png" alt="Picture of me">
        </div>
        <div class="col about-me-text">
            <p class="about-title">ABOUT MARK ALANIZ</p>
            <p>Paragraph of text about me</p>
            <p>Paragraph of text about me</p>
            <p>Paragraph of text about me</p>
        </div>
    </div>
</section>
<section class="container main-info">
    <div class="row award-contact-heading-line">
        <div class="col">
            <p class="awards-title">AWARDS & RECOGNITION</p>
            <ul class="award-list">
                <li>Thing1</li>
                <li>Thing2</li>
                <li>Thing3</li>
            </ul>
        </div>
        <div class="col">
            <P class="contact-title">CONTACT</P>
            <p>markalaniz000@gmail.com</p>
            <div class="col icons">
                <a href="https://twitter.com/Digaduga" target="_blank">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Digald" target="_blank">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/Digaldo/" target="_blank">
                    <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/markalaniz/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container main-form">
    <div class="row">
        <form action="">
            <div class="col">hello</div>
            <div class="col">world</div>
        </form>
    </div>
</section>

<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="m-0 text-black">&copy; 2018 Mark Alaniz</p>
            </div>
            <div class="col icons">
                <a href="https://twitter.com/Digaduga" target="_blank">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Digald" target="_blank">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/Digaldo/" target="_blank">
                    <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/markalaniz/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>