<section class="container main-about">
    <div class="row">
        <div class="col-md">
            <img class="mypic" src="/images/placeholder1.png" alt="Picture of me">
        </div>
        <div class="col-md about-me-text">
            <p class="about-title">ABOUT MARK ALANIZ</p>
            <p>I’m a computer hardware enthusiast and a full-stack web developer specializing in the MERN stack. I enjoy seeing
                how my creative abilities and problem solving skills come together in order to build sleek web applications
                that I can be proud of. I want us to feel proud of the work we can create together and look forward to forming
                a team.</p>
            <p>I graduated with honors (summa cum laude) with a degree in geology. After graduating I wanted to find something
                else I can do to progress my skill set. I first got started with the FreeCodeCamp curriculum was where I
                was introduced to Javascript and what being a developer is all about. After many lessions, it sparked the
                realization that I wanted to take development more seriously and persue it as a career.</p>
        </div>
    </div>
</section>
<section class="container main-info">
    <div class="row award-contact-heading-line">
        <div class="col-md">
            <p id="myskills" class="awards-title">SKILLS</p>
            <div class="row">
                <div class="col">
                    <ul class="award-list">
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>React.js</li>
                        <li>MongoDB</li>
                        <li>MySQL</li>
                        <li>Git/Github</li>
                        <li>Templating (Handlebars)</li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="award-list">
                        <li>jQuery</li>
                        <li>Firebase</li>
                        <li>CSS Frameworks (BS, Bulma, etc)</li>
                        <li>APIs, JSON, Ajax</li>
                        <li>REST</li>
                        <li>Command Line</li>
                        <li>Testing (Mocha, Chai)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md contact-col">
            <P class="contact-title">CONTACT</P>
            <p>markalaniz000@gmail.com</p>
            <div class="col icons">
                <a href="https://twitter.com/Digaduga" target="_blank">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Digald" target="_blank">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/Digaldo/" target="_blank">
                    <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/markalaniz/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="container main-form">
    <form id="contact-form">
        <div class="row">
            <div class="col-md">
                <input type="text" class="form-control left-forms" id="nameInput" placeholder="Name*" required>
                <input type="email" class="form-control left-forms" id="emailInput" placeholder="Email*" required>
                <input type="text" class="form-control left-forms" id="subjectInput" placeholder="Subject*" required>
            </div>
            <div class="col-md">
                <textarea class="form-control" id="messageInput" rows="5" placeholder="Message*" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <input id="submit-form" type="submit" class="btn btn-secondary float-right">
            </div>
        </div>
    </form>
</section>