<div class="container">
    <div class="block block-1 row">
        <div class="col-md-6  header-space header-space-1">
            <h1 class="header-text">WHY HIRE ME?</h1>
        </div>
        <div class='col-md-6 info-space-1'>
            <p>I am a web developer who consistantly practices the craft in my spare time. I continue to learn new things whether
                it takes minutes or weeks. I have the ability to research problems I have and take the necessary steps to
                solve them or work around them. I effectively try to communicate and understand the needs and requirements
                of others as well as express my own.</p>
        </div>
    </div>
    <div class="block block-2 row">
        <div class="col-md-6  header-space header-space-2">
            <h1 class="header-text">WHAT SERVICES CAN I PROVIDE?</h1>
        </div>
        <div class='col-md-6 info-space-2'>
            <ul>
                <li>Custom web sites built from scratch.</li>
                <li>Design and create static web pages using libraries such as React.</li>
                <li>Taking it one step further and building dynamic web pages with a backend that connects to a personal MySQL
                    or MongoDB database.</li>
                <li>Responsive Web pages.</li>
                <li>...and learning more skills each day to further suit my needs!</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid block-banner">
    <a class="link-to-contact" href="/about#contact">READY TO WORK TOGETHER? CLICK HERE</a>
</div>