/* ------------------------------------------------------
About me
-----------------------------------------------------------*/
.main-about {
  margin-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.about-title {
  text-align: center;
  margin-bottom: 40px;
}
.mypic {
  padding-top: 64px;
  max-width: 100%;
}
.about-me-text {
  text-align: center;
}
.currently-working-on {
  font-weight: bold;
}
/* ------------------------------------------------------
Recognition and Contact section
-----------------------------------------------------------*/
.main-info {
  margin-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.award-contact-heading-line {
  margin-bottom: 30px;
  text-align: center;
}
.awards-title,
.contact-title {
  margin-bottom: 40px;
}
.award-list {
  padding: 0;
}
.award-list li {
  list-style-type: none;
}

.left-forms {
  margin-bottom: 10px;
}
.contact-col a {
  margin: 0 10px;
}
.contact-col i {
  color: black;
}

/* ------------------------------------------------------
Message form
-----------------------------------------------------------*/
.main-form {
  margin-top: 60px;
  padding-bottom: 40px;
}
.form-control {
  border: 1px solid black;
}