.block-1 {
  margin-top: 100px;
}

.header-space-1 {
  font-family: "Marcellus SC", serif;
  background: #FFA846;
  color: white;
  text-align: center;
}

.block-2 {
  margin-top: 40px;
}
.header-space-2 {
  font-family: "Marcellus SC", serif;
  background-color: #39D277;
  color: white;
  text-align: center;
}

.block {
  height: 300px;
  border: 1px solid grey;
}

.header-text {
  position: relative;
  top: 40%;
}
