/*================================
TEXT SECTIONS
==================================== */
.block {
  border: 1px solid grey;
}

.header-text {
  position: relative;
  padding: 100px 0 75px 0;
  text-align: center;
}

.block-1 {
  margin-top: 100px;
}
.header-space {
  font-family: "Marcellus SC", serif;
  color: white;
}

.header-space-1 {
  background: #024B6A;
}

.info-space-1 {
  text-align: center;
}

.block-2 {
  margin-bottom: 100px;
}

.block-2 {
  margin-top: 40px;
}
.header-space-2 {
  background-color: #000F15;
}
/*===========================================
 BOTTOM BANNER
 ============================================== */
.block-banner {
  background-image: url('../images/nightline.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  text-decoration: none;
}
.link-to-contact {
  color: white;
  width: 100%;
  font-family: "Marcellus SC", serif;
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: bold;
}
.link-to-contact:hover {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header-text {
    padding: 40px 0 20px 0;
  }
  .block-banner {
    padding: 75px 0;
  }
  .link-to-contact {
    font-size: 25px;
  }
}